<div class="heading">
<h1 align="center" class="loginHeader"><img src="images/emblem.jpg"><br>The American Legion Auxiliary<br>Georgia Girls State</h1>
<div class="logoImage">
</div>
    </div>
    
    <div class="form-group">
        <div class="well">
          <form ng-submit="">
            <legend>Login</legend>
            
            <label class="control-label" for="username">Username:</label><br> 
            <input type="email" ng-model="theEmail" id="inputEmail" maxlength="20" placeholder="Email" class="form-control"><br>
        
            <label class="control-label" for="password">Password:</label><br>
            <input  type="password" ng-model="thePassword" passwordValidate id="inputPassword" maxlength="20" placeholder="Password" class="form-control"><br>
            
              <div class = "logInButtons">
              <button type="submit" class="button btn-primary" color="white">Submit</button>
              <button type="button" class="button btn-primary" color="white" ng-click = "">Create Auxillary Account</button>
            </div>
          </form>
      </div>
    </div>