   <div class="heading">
    <h1 align="center" class="loginHeader"><img src="images/emblem.jpg"><br>The American Legion Auxiliary<br>Georgia Girls State</h1>
    <div class="logoImage"></div>
</div>

    <form #f = "ngForm" (ngSubmit)= "onSubmit(f.value)">
      <div class="form-group">
        <div class="well">
          <legend>Create Auxiliary Account</legend>
            
            <label for = "username:">Username:</label><br>
            <input type="text" class="form-control" id="username" maxlength="20"  placeholder="Unit Number" pattern="\d*"><br>
            
            <label for = "password">Password: </label><br>
            <input  type="password"  id ="password"class="form-control" maxlength="20" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"><br>

            <label for = "confirm-password">Confirm Password: </label><br>
            <input type="password" id = "confirm-password" class="form-control" maxlength="20" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" >
        <br>
          <p>
            <button type="submit" class="button btn-primary" color="white">Create Account</button>
          </p>
        </div>
      </div>
    </form>
